<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>WWPI Radio - Home</title>


  <link rel="stylesheet" href="/css/styles.css" />
  <script src="/js/login.js" defer></script>

  <!--Icons-->
  <script src="https://kit.fontawesome.com/e87d1030ee.js" crossorigin="anonymous"></script>

  <!-- get rid of favicon error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=" />

</head>

<body>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    <form target="dummyframe">
        <section>
            <label for="username">Username: </label>
            <input id="username" name="username" type="text" autocomplete="username" required autofocus>
        </section>
        <section>
            <label for="current-password">Password: </label>
            <input id="current-password" name="password" type="password" autocomplete="current-password" required>
        </section>
        <button id="login-button" type="submit">Sign in</button>
    </form>
</body>

</html>
