<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>WWPI Radio - Request a Show</title>


    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/request_show.js" defer></script>

    <!--Icons-->
    <script src="https://kit.fontawesome.com/e87d1030ee.js" crossorigin="anonymous"></script>

    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />

</head>

<body>
    
  <header>
    <h1>WWPI Radio</h1>
    <nav>
      <ul class="nav-list">
        <li class="button"><a href="/../index.html">Home</a></li>
        <li class="button"><a href="/views/services.html">Services</a></li>
        <li class="button"><a href="/views/bookEvent.html">Book an Event</a></li>
        <li class="button"><a href="/views/requestShow.html">Request your own Show</a></li>
        <li class="button"><a href="/views/memberInfo.html">Member Information</a></li>
        <li class="button"><a href="/views/viewUsers.html">Active Users</a></li>
        <li class="button"><a href="/views/viewEvents.html">Published Events</a></li>
        <li class="button"><a href="/views/inbox.html">Inbox</a></li>
        <!--Anchor Link to footer-->
        <li class="button"><a href="#contactus">Contact Us</a></li>
        <li class="button"><a href="/views/login.html">Log In</a></li>
      </ul>
    </nav>
  </header>
  

    <main>
        <h1>Radio Show Application</h1>
        <form>
            <label for="showtitle">Show Title:</label>
            <input type="text" id="showtitle" name="showtitle">

            <label for="date">Date:</label>
            <input required type="date" id="date" name="date">

            <label for="time">Time:</label>
            <input required type="time" id="time" name="time">

            <label for="description">Description:</label>
            <input type="text" id="description" name="description">

            <button id="submit-button" type="button">Submit</button>
        </form>

    </main>
    <br><br><br><br>

    <footer>
        <div class="contact" id="contactus">
            <h3>Contact Us</h3>
            <p><a href="mailto:radio-execs@wpi.edu">radio-execs@wpi.edu</a> | <a href="tel:+5038315956">(508) 831-5956</a></p>
            <p>Rubin Campus Center Room 329</p>
        </div>

        <div class="icons">
            <!--https://docs.fontawesome.com/web/style/styling-->
            <a href="https://twitter.com/wwpiradio"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.instagram.com/wwpiradioclub"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.facebook.com/wwpiradioclub"><i class="fa-brands fa-square-facebook"></i></a>
        </div>
    </footer>
</body>

</html>