<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>WWPI Radio - Home</title>


  <link rel="stylesheet" href="/css/styles.css" />
  <script src="/js/view_events.js" defer></script>

  <!--Icons-->
  <script src="https://kit.fontawesome.com/e87d1030ee.js" crossorigin="anonymous"></script>

  <!-- get rid of favicon error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=" />

</head>

<body>
    <ul id="info-list">
        <li><p>Event Title</p><p>Time</p><p>Description</p></li>
    </ul>
</body>

</html>