<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>WWPI Radio - Book an Event</title>

    
    <link rel="stylesheet" href="/public/styles.css" />
    <script src="/public/main.js" defer></script>


    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />

  </head>
  <body>
    <header></header>

    <main>

    </main>
    
    <footer>
       <div class="contact">
        <h6>Contact Us</h6>
        <p>radio-execs@wpi.edu | (508) 831-5956</p>
        <p>Rubin Campus Center Room 329</p>
      </div>
    </footer>
  </body>
</html>
