<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>WWPI Radio - Services</title>


    <link rel="stylesheet" href="/public/styles.css" />
    <script src="/public/main.js" defer></script>

    <!--Icons-->
    <script src="https://kit.fontawesome.com/e87d1030ee.js" crossorigin="anonymous"></script>

    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />

</head>

<body>
    <header>
        <h1>WWPI Radio</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="bookEvent.html">Book an Event</a></li>
                <li><a href="requestShow.html">Request your own Show</a></li>
                <li><a href="memberInfo.html">Member Information</a></li>
                <!--Anchor Link to footer-->
                <li><a href="#contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <h1>Our Services</h1>

        <div>
            <h2>WWPI Speakers</h2>
            <p>Small: $125</p>
            <p>Large: $150</p>

            <form action="bookEvent.html">
                <button type="submit">Book Now</button>
            </form>
        </div>

    </main>

    <footer>
        <div class="contact" id="contactus">
            <h3>Contact Us</h3>
            <p><a href="mailto:radio-execs@wpi.edu">radio-execs@wpi.edu</a> | <a href="tel:+5038315956">(508) 831-5956</a></p>
            <p>Rubin Campus Center Room 329</p>
        </div>

        <div class="icons">
            <!--https://docs.fontawesome.com/web/style/styling-->
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        </div>

    </footer>
</body>

</html>