body {
  background:lightblue;
  color:black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gill Sans", sans-serif;
  }

  a, p {
    font-family: "Gill Sans", sans-serif;
  }

.flex{
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: center;
  text-align: center;
}

header, footer {
  background-color: lightgray;
  font-family: "Gill Sans", sans-serif;
  padding: 20px;
  text-align: center;
  border: 3px solid black;
  margin-bottom: 20px;
}


/*links*/
a:link {
  color: lavender;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lavender;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: lightskyblue;
  background-color: transparent;
  text-decoration: underline;
}

footer a:link,
footer a:visited {
color: blue; /* Make footer links blue */
background-color: transparent;
text-decoration: none;
}

footer a:hover {
color: darkblue; /* Darker blue when hovered */
text-decoration: underline; /* Underline on hover */
}

a[href="/views/register.html"] {
color: blue; /* Change link color to blue */
text-decoration: none; /* Remove underline if you want */
}

a[href="/views/register.html"]:hover {
color: darkblue; /* Darker blue on hover */
text-decoration: underline; /* Underline on hover for visual feedback */
}


.button {

  border: none;
  outline: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: darkblue;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: auto;
  height: auto;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
border-radius: 5px;
}

